body {
	background-color: #FFF7C6;
	color: #000000;
}

.btn {
	align-items: center;
	margin-top: 10px;
	background-color: #ADD8E6;
	color: white;
	border-radius: 50px;
	font-size: 13px;
	width: 40%;
}

.button-register {
	background-color: #ADD8E6;
}

.button-register:hover {
	background-color: #ADD8E655;
	color: #ADD8E6;
	border: 1px solid #ADD8E6;
}

body > div > form > button {
	border-radius: 50px;
}

.flex-container{
	height: 85vh;
	width: 100%;
	display:flex;
	padding:20px;
	justify-content: center;
	align-items: center; 
}

#upper {
	font-size: 20px;
	margin-bottom: 30px;
}

#lower {
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 0;
}

#lower a {
	color: black;
	text-decoration: underline;
	margin-bottom: 
}

#lower a:hover {
	color: #ADD8E6;
}
.register_form {
	background-color: #FFFCE8;
	border-radius: 20px;
	box-shadow: 0 0 5px #ADD8E6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
}

.register_form p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.register_form ul .errorlist {
	color: red;
}

body > div > form > p label {
	margin-bottom: 0;
	font-size: 13px;
}

.register_form p input {
	border-radius: 5px;
}

.navbar > .container-fluid {
	align-items: flex-end;
}

.navbar-brand img {
	width: 180px
}
.navbar-right{
	flex-direction: row;
}

.navbar-right li {
	margin-right: 30px;
}

.navbar-right a{
	color: black;
}

footer {
 display: flex;
 flex-flow: column wrap;
 height: 70px;
 font-style: italic;
 background-color: #86C5D8;
 padding-top: 25px;
}

footer h3 {
 font-size: 20px;
 text-align: center;
 color: #fff;
 font-weight: bold;
}

@media only screen and (max-width: 768px) {
	.register_form {
		background-color: #FFFCE8;
		width: 100%;
		height: 80%;
	}

	.btn {
		width: 90px;
	}
}

@media only screen and (max-width: 360px) {
	.register_form {
		background-color: #FFFCE8;
		width: 100%;
		height: 80%;
	}

	.btn {
		width: 90px;
	}

	#upper {
		font-size: 17px;
	}
}
