{% extends 'base.html' %}
{% load static %}

	<link rel="stylesheet" 
    type="text/css"  
    href="{% static 'css/style.css' %}">


{% block nav-content %}

    <div id="left-nav">
    	<a class="navbar-brand" href="#">i am <b>uqi</b></a>
    </div>

{% endblock %}

{% block content %}
	<div class="flex-container">
		<form method="POST" class="status"> {% csrf_token %}
			<h2 id="kabar">Halo, apa kabar?</h2>
			{{ form.as_p }}
			<button type="submit" class="btn button-register">Share</button>
		</form>
	</div>

	<table>
		<tr><td>Pesan<td>Waktu pembuatan</tr>
		{% for i in story %}
			<tr><td>{{i.status}}<td>{{i.datetime}}</tr>

		{% endfor %}
{% endblock %}